/**************************
 * Typography
 **************************/

/**
 * Navigation typography
 **/

.main-nav__list__item
    color: $link-black
    text-transform: uppercase
    font-size: 2rem
    font-family: $myriadPro
    line-height: 2.4rem

    @media (max-width: $sm)
        font-size: 4rem


/**
 * Section typography
 **/

.section__header
    font-family: $myriadPro
    text-transform: uppercase
    font-size: 3.6rem
    font-weight: 200
    line-height: 43.2px
    text-align: center

.section__header--contact
    font-size: 4.5rem
    font-weight: 400
    line-height: 54px
    color: #FCFCFC
    text-align: left

    @media (max-width: $md)
        color: $black
        text-align: center


.section__description
    font-family: $BPGNino
    font-size: 2.2rem
    font-weight: bold
    line-height: 3.2rem
    text-align: center

/**
 * Header typography
 **/

.header__text
    font-family: $myriadPro
    font-size: 7.2rem
    font-weight: 400
    letter-spacing: 1px
    text-transform: uppercase
    white-space: nowrap

    // Creates double border effect
    -webkit-text-stroke: 2px $white
    color: transparent


    @media(max-width: $md)
        font-size: 6.5rem

    @media(max-width: $sm)
        font-size: 4rem

/**
 * Card typography
 **/

.card__title
    font-family: $myriadPro

/**
 * Contact Section typography
 **/

.input__text label
    font-family: $myriadPro
    font-size: 1.3rem
    color: $black

.input__text input,
textarea
    font-size: 1.6rem

.newsletter
    font-family: $myriadPro
    font-size: 1.6rem
    letter-spacing: 3.2px
    color: $black
    white-space: nowrap

.input__radio label
    font-family: $myriadPro
    font-size: 1.6rem
    letter-spacing: 3.2px
    color: $black

.input__checkbox__item label
    font-family: $myriadPro
    font-size: 1.6rem
    letter-spacing: 3.2px
    color: $black

    @media (max-width: $lg) and (min-width: $md)
        letter-spacing: 1.2px

/**
 * Button typography
 **/

#{$all-buttons}
    font-size: 2.2rem
    font-family: $myriadPro
    font-weight: 400
    color: $white

/**
 * Footer typography
 **/

.copyright
    font-family: $myriadPro
    font-size: 1.8rem
    color: $white
    letter-spacing: 0.9px

    @media(max-width: $sm)
        font-size: 2.7rem

.author, .author a
    font-family: $myriadPro
    font-size: 1.7rem
    text-align: right
    color: $white
    letter-spacing: 0.85px

    @media(max-width: $sm)
        font-size: 2.1rem
