/**************************
 * Contact Styles
 **************************/
.section__contact
    position: relative
    margin-bottom: 14rem
    height: 56rem

.contact__wrapper
    transform: translate(6rem, 2rem)
    display: flex
    flex-direction: row
    height: 92.6%
    width: 100%

@media (max-width: $medium)
    .contact__wrapper
        transform: translate(0rem, 0rem)
        flex-direction: column

#map
    width: 35%

@media (max-width: $medium)
    #map
        width: 100%
        height: 32.5rem

.contact-form
    background-color: $grey
    width: 65%

    form
        padding: 5.3rem 5.2rem 4.5rem 3rem
        display: flex
        flex-direction: column
        height: 100%
        justify-content: space-between

@media (max-width: $medium)
    .contact-form
        width: 100%


/**
 * Input Group One
 */

.group-one
    display: flex
    flex-direction: row

    &__left, &__right
        width: 50%

@media (max-width: $small)
    .group-one
        flex-direction: column

        &__left, &__right
            width: 100%

/**
 * Input Type Text
 */

.input__text__item
    position: relative

    input
        margin-bottom: 3.3rem

    label
        position: absolute
        top: -1.1rem
        left: 1.6rem
        opacity: 0
        visibility: hidden

@media (max-width: $medium)
    .input__text__item
        input
            width: 24.6rem
            height: 4rem

@media (max-width: $small)
    .input__text__item
        input
            width: 100%

@media (max-width: $medium)
    textarea
        right: -29rem
        top: -14.6rem
        width: 291.3px
        position: absolute

@media (max-width: $small)
    textarea
        position: relative
        right: 0
        top: 0
        width: 100%


/**
 * Input Type Radio
 */

.input__radio
    display: flex
    flex-direction: row
    margin-bottom: 11rem

    &__item input
        margin-right: 2rem

    &__item:not(:last-child) label
        margin-right: 4rem
        @media (max-width: $lg)
            margin-right: 2rem
        @media (max-width: $medium)
            margin-right: 5rem
        @media (max-width: $small)
            margin-right: 3rem

@media (max-width: $small)
    .input__radio
        margin-bottom: 2rem

/**
 * Input Type Checkbox
 */

.newsletter
    margin-bottom: 2.5rem

.input__checkbox__item label
    margin-left: 2.7rem

.input__checkbox__item:not(:last-child)
    padding-bottom: 2rem

@media (max-width: 1200px) and (min-width: $medium)
    .input__checkbox__item label
        margin-left: 1.7rem


/**
 * Input Group Two
 */
.group-two
    display: flex
    flex-direction: row
    justify-content: space-between

.btn-submit
    margin-right: 2rem

@media (max-width: $medium)
    .group-two
        display: block

    .btn-submit
        margin-right: 0px
        float: right
        transform: translate(-1.4rem)
