/**************************
 * Contact Styles
 **************************/
.section__contact
    position: relative
    margin-bottom: 14rem

.contact__wrapper
    transform: translate(6rem, 2rem)
    display: flex
    flex-direction: row
    height: 100%
    width: 100%

#map
    width: 35%

.contact-form
    background-color: $grey
    width: 65%

    form
        padding-left: 2.5rem
        padding-top: 5rem
        padding-bottom: 4rem
        padding-right: 5rem
        display: flex
        flex-direction: column
        height: 100%

@media (max-width: $medium)
    .contact-form
        width: 100%


/**
 * Input Group One
 */

.group-one
    display: flex
    flex-direction: row

    &__left, &__right
        width: 50%

/**
 * Input Type Text
 */

.input__text__item
    position: relative

    input
        margin-bottom: 3rem

    label
        position: absolute
        top: -1.1rem
        left: 1.6rem
        opacity: 0
        visibility: hidden


/**
 * Input Type Radio
 */

.input__radio
    display: flex
    flex-direction: row
    margin-bottom: 11rem

    &__item input
        margin-right: 2rem

    &__item:not(:last-child) label
        margin-right: 4rem

/**
 * Input Type Checkbox
 */

.newsletter
    margin-bottom: 2.5rem

.input__checkbox__item label
    margin-left: 2.7rem

.input__checkbox__item:not(:last-child)
    padding-bottom: 2rem


/**
 * Input Group Two
 */
.group-two
    display: flex
    flex-direction: row
    justify-content: space-between

.btn-submit
    margin-right: 2rem

/**
 * display: grid for modern browsers
 **/
// @supports (display: grid)
//     .contact__wrapper
//         display: grid
//         grid-template-columns: 2fr 4fr

//     @media (max-width: $small)
//         .contact__wrapper
//             grid-template-columns: 1fr
//             grid-template-rows: 1fr 1fr