.footer
    background-color: $main-purple
    display: flex
    align-items: center

    .container
        display: flex
        flex-direction: row
        justify-content: space-between

@media(max-width: $small)
    .footer
        .container
            flex-direction: column

    .copyright,
    .author
        text-align: center
