/**************************
 * Section Styles
 **************************/
.section__about
    padding-top: 6.4rem
    padding-bottom: 3.7rem

.section__header
    margin-bottom: 7rem

.section__header--contact
    padding-top: 1.5rem
    padding-left: 1.5rem

    @media (min-width: $medium)
        margin-bottom: 0        //reset margin on large screen

.section__description
    padding-bottom: 7.4rem

.section__gallery
    padding-top: 5.3rem
    margin-bottom: 8.5rem

    @media (max-width: $small)
        margin-bottom: 7.6rem


.section__contact
    background-color: $main-purple
    margin-top: 9rem

    @media (max-width: $medium)
        background-color: transparent
        margin-top: 3rem