/**************************
 * Burger Icon Styles
 **************************/

.burger-icon
	height: 4rem
	width: 4.5rem
	position: relative
	display: block
	cursor: pointer
	z-index: 11

	// Hide on large screen
	@media (min-width: $sm)
		display: none

	&__top,
	&__middle,
	&__bottom
		background: $main-purple
		border-radius: 0
		display: block
		height: .4rem
		opacity: 1
		position: absolute
		transition: .25s ease-in-out

	&__top
		top: 0
		width: 4.5rem

	&__middle
		width: 3.5rem
		right: 0
		top: 1.8rem

	&__bottom
		width: 4.5rem
		bottom: 0

// When clicked
.burger-icon.active

	.burger-icon__middle
		opacity: 0

	.burger-icon__top
		transform: rotate(45deg)
		width: 3rem
		top: 46%

	.burger-icon__bottom
		transform: rotate(-45deg)
		width: 3rem
		bottom: 46%
