// Code for menu button below...
#menu-trigger {
	cursor: pointer;
    height: 40px;
    width: 45px;
	overflow: visible;
	position: relative;
	span, span:before, span:after {
		background: $main-purple;
		border-radius: 0;
		display: block;
		height: 4px;
		opacity: 1;
		position: absolute;
		transition: .25s ease-in-out;
	}
	span:before, span:after { content: ''; }

	// States
	span {
		right: 0px;
		top: 13px;
		width: 35px;
		&:before {
			right: 0px;
			top: -10px;
			width: 15px;
		}
		&:after {
			right: 0px;
			top: 10px;
			transition: all .25s ease-in-out;
			width: 20px;
		}
	}
	// When clicked
	&.open span {
		left: 1px;
		transform: rotate(-45deg);
		top: 13px;
		width: 28px;
		&:before {
			top: 0px;
			transform: rotate(90deg);
			width: 28px;
		}
		&:after {
			opacity: 0;
			top: 0px;
			transform: rotate(45deg);
			width: 0;
		}
	}
}

@media (min-width: 576px) {
    #menu-trigger {
        display: none
    }
}