/**************************
 * Button Styles
 **************************/
#{$all-buttons},
    background-color: $main-purple
    border: 0
    cursor: pointer
    transition: all .2s
    padding: .21rem .5rem

#{$all-buttons-hover},
#{$all-buttons-active}
    background-color: $black

@media (max-width: $md)
    #{$all-buttons}
        padding: .5rem .7rem