/**************************
 * Cards Styles
 **************************/
.section__card_image
    height: 200px
    overflow: hidden

.section__card
    position: relative

.section__card_title
    padding-top: 1rem