/**
 * Section Divider Styles
 **/

.section-divider
    width: 94.6rem
    margin: 0 auto
    background-color: $main-purple
    border: 0

    &--first
        height: 0.4rem
        @media (max-width: $md)
            width: 59.8rem
            height: 0.5rem
            background-color: $light-purple-three
        @media (max-width: $sm)
            width: 100%

    &--second
        height: 0.6rem
        @media (max-width: $md)
            width: 59.8rem
            height: 0.4rem
            background-color: $light-purple-two
        @media (max-width: $sm)
            width: 90%
            height: .5rem
            background-color: $light-purple-three
