/**************************
 * Input Styles
 **************************/
#{$all-text-inputs}
    display: block
    width: 19.3rem
    padding: 1rem 1.5rem
    border: none

.input__text__item input::placeholder
    font-family: $myriadPro
    font-size: 1.6rem
    font-weight: 200
    letter-spacing: 3.2px
    line-height: 58.44px
    color: $dark-grey

textarea::placeholder
    font-family: $myriadPro
    font-size: 1.6rem
    letter-spacing: 3.2px
    color: $dark-grey

textarea
    margin-bottom: 4rem

input[type="checkbox"]
    font-family: $myriadPro
    font-size: 1.6rem
    line-height: 58.44px
    letter-spacing: 3.2px
    color: $black