.main-navigation
    height: 100%
    display: flex
    align-items: center

.main-navigation__list-wrapper
    display: flex
    flex-direction: row
    li
        font-size: 2rem
        font-family: $myriadPro
        a
            color: $link-black
            text-transform: uppercase
            padding: 1.1rem
            display: inline-block
            margin-right: 2.2rem

@media (min-width: 769px)
    a.active
        border-bottom: 3px solid $main-purple

@media(max-width: 768px)
    .main-navigation
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: rgba(255,255,255,.8)
        z-index: 10
        display: none
        .main-navigation__list-wrapper
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            li
                font-size: 4rem
                margin-bottom: 5rem
