/**************************
 * Main Navigation
 **************************/

.main-nav
    height: 100%
    display: flex
    align-items: center

    &__list
        display: flex
        flex-direction: row

@media (min-width: $small)
    .main-nav__list__item
        padding: 1.1rem
        display: inline-block
        margin-right: 2.2rem
        overflow: hidden
        position: relative
        &:before
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            height: 2px
            background: $main-purple
            transform:  translateX(-100%)
            transition: transform .5s ease
        &:hover:before
            transform:  translateX(0)


@media (max-width: $small)
    .main-nav
        position: absolute
        top: 0
        left: 0
        height: 100vh
        width: 100%
        background-color: rgba(255,255,255,.8)
        z-index: 10
        display: none
        &__list
            width: 100%
            height: auto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-top: 5rem
            &__item
                display: block
                margin-bottom: 5rem
        &.open
            display: flex

